.bg-primary{
	background:#6800d0!important;
	color: white;
	font-size: 17px;
}



.banner{
    width: 100%;
	height: 100vh;
	background:linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.8)), url(../img/banner.png);
}

.my-card{
	padding: 20px;
	background: #FFFFFF;
}

text-area{
	display: inline-block;
}

body{
	background-color: #e2e8e1!important;
}